<div>
<img alt="Pokemon gallery" width="100%" src="../../assets/images/hero-background.jpg" align="center">
<div class="centre-left"><h1>Pokemon Gallery</h1></div>
</div>
<div class="form-wrapper">
  <input #searchText placeholder="Search ..." />
  <button (click)="searchPokemon(searchText.value)">Search</button>
</div>

<div class="container">

  <div class="row">
    <div *ngFor="let pokemon of pokemons | searchFilter:searchText.value" class="col-xs-6 col-sm-3 col-md-3">
      <div><img [src]="pokemon.imageUrl" /><div class="info">#{{pokemon.index}}<br/>{{pokemon.name}}</div></div>
    </div>
  </div>

</div>
